<div controller="HomeCtrl" onscroll="checkScrollHeight()">
  <div class="header">
    <div class="rentomojo-logo col-4">
      <img src="./assets/rentomojo-logo.png"/>
    </div>
    <div class="rm-contact col-4">
      <span class="contact"> <i class="fa fa-phone"> </i> +91-9005799784 </span>
    </div>
  </div>

  <div class="main-content">
    <div class="search-content">
      <div class="search-box">
        <form name="urlForm" novalidate class="search-form" ng-submit="onSearchSelection()" >
          <div class="search-bar">
            <div class="search-input-group">
              <div class="label-container">
                <label for="destination" class="search-label">Your Url:</label>
              </div>
              <div  class="search-input">
                <input type="url" name="searchInput" ng-model="url.text" class="input-field" placeholder="http://"  required="">
                <span class="fa fa-search search-icon"></span>
              </div>
              <div role="alert" class="input-error">
                <span class="error" ng-show="showError && (urlForm.searchInput.$error.url  || urlForm.searchInput.$error.required)">
                  not a valid url!</span>
              </div>
            </div>
            <button type="submit" class="button">Submit{{inputUrl}}</button>
          </div>
        </form>
      </div>
    </div>
    <div class="search-results">
      <div class="results-list">
        <div class="results-list-container" ng-show="urlList.length>0">
          <table class="result-list">
            <thead class="result-list-header">
              <tr>
                <th class="col-2">No</th>
                <th class="col-7">Orgininal URL</th>
                <th class="col-3">Short URL</th>
              </tr>
            </thead>
            <tbody class="result-body">
              <tr ng-repeat="(key,value) in urlList">
                <td class="col-1">{{key+1}}</td>
                <td class="col-7"><a href="{{value.long_url}}" class="link">{{value.long_url}}</a></td>
                <td class="col-4"><a href="{{value.link}}" class="link">{{value.link}}</a></td>
              </tr>
            </tbody>
          </table>
        </div>
        <div ng-class="urlList.length>0 ? 'total-results bg-success':'total-results bg-error'">
          <p ng-show="urlList.length>0">
            Total {{urlList.length}} url<span ng-show="urlList.length>1">s</span> added.
          </p>
          <p ng-show="urlList.length===0">
            No searched item to show.
          </p>
        </div>
      </div>
    </div>
  </div>

</div>
